<ion-header>
  <ion-navbar color="header">
    <ion-title>Success</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding style="background-color: #F5F5F5 !important;">
  SUMMARY
  <hr> Title: {{title}}
  <br> Description: {{description}}
  <br> Address: {{address}}
  <br> Price: {{price}}
  <br> Date: {{date}}
  <br> Starting Time: {{starting_time}}
  <br> Expected Duration: {{expected_duration}}
  <br>
  <hr>
  <div id="proceed">
    <button ion-button color="button" block (click)="saveEvent()">Save Event</button>
  </div>
</ion-content>
