page-home {
    #map {
        height: 50%;
        width: 100%;
        position: fixed;
        overflow: auto;
    }
    #list {
        height: 50%;
        width: 100%;
        overflow: scroll;
    }
    .container {
        height: 100%;
        weight: 100%;
    }
    .noevents {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
    } // .event {
    //     background-color: #ffe6f2 !important;
    // }
    // .event:hover {
    //     background-color: fuchsia !important;
    // }
}