<ion-header>
  <ion-navbar color="header">
    <ion-buttons left>
      <button color="button" icon-only class="button-icon" menuToggle side="left">
        <ion-icon color="light" name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      EventsApp
    </ion-title>
    <ion-buttons right>
      <button icon-only class="button-icon" (click)="centerMapMyLocation()">
        <ion-icon color="light" name="locate"></ion-icon>
      </button>
      <button icon-only class="button-icon" (click)="doRefresh()">
        <ion-icon color="light" name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-color: #F5F5F5 !important;">
  <div *ngIf="!disconnected" class="container">
    <div #map id="map">
    </div>
    <div id="list">
      <ion-list style="background-color: #F5F5F5 !important;">
        <ion-item class="event" *ngFor="let event of list" style="background-color: #F5F5F5 !important;">
          <button no-lines class="event" ion-item (click)="centerOpen(event)" style="background-color: #F5F5F5 !important;">
            <ion-avatar item-left>
              <img [src]="event.img" />
            </ion-avatar>
            <h2>{{event.title}}</h2>
            <p>{{event.address}} </p>
          </button>
        </ion-item>
      </ion-list>
      <div *ngIf='noEvents' class='noevents'>
        <p style=" color: #263238;">SORRY, THERE AREN'T ANY EVENTS HAPPENING RIGHT NOW</p>
        <br>
      </div>
    </div>
  </div>
</ion-content>
