<ion-header>
  <ion-navbar color="header">
    <ion-buttons left>
      <button class="button-icon" icon-only menuToggle side="left">
        <ion-icon color="light" name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Log-In</ion-title>
  </ion-navbar>

</ion-header>
<ion-content style="background-color: #F5F5F5 !important;">
  <div>
    <ion-list no-lines>
      <form [formGroup]="loginForm">
        <ion-item>
          <ion-label floating>Username</ion-label>
          <ion-input [(ngModel)]="username" [class.invalid]="!loginForm.controls.username.valid && loginForm.controls.username.dirty "
            formControlName="username" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input [(ngModel)]="password" [class.invalid]="!loginForm.controls.password.valid && loginForm.controls.password.dirty "
            formControlName="password" type="password"></ion-input>
        </ion-item>
      </form>
    </ion-list>
    <button ion-button full color="button" (click)="login()" [disabled]="!loginForm.valid">Log-In</button>
    <button ion-button full color="secondary" (click)="goToSignUp()">Not a member yet?</button>
  </div>
</ion-content>
