page-profile {
    .head {
        margin: 0px;
        padding-top: 5px;
        padding-bottom: 5px;
        color: white;
        background: color($colors, header);
        font-weight: bold;
        text-align: center;
    }
    .events-list {
        height: 34vh;
        overflow: scroll;
    }
}