<ion-header>
  <ion-navbar color="header">
    <ion-buttons left>
      <button icon-only class="button-icon" menuToggle side="left">
        <ion-icon color="light" name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
    <ion-buttons right>
      <button icon-only class="button-icon" (click)="addEvent()">
        <ion-icon color="light" name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding style="background-color: #F5F5F5 !important;">
  <div class="container">
    <div id="info">
      <ion-list>
        <ion-item>
          Username: {{username}}
        </ion-item>
        <ion-item>
          First Name: {{firstname}}
        </ion-item>
        <ion-item>
          Last Name: {{lastname}}
        </ion-item>
        <ion-item>
          Email: {{email}}
        </ion-item>
        <ion-item>
          Registered At: {{registered}}
        </ion-item>
      </ion-list>
    </div>
    <div id="list">
      <hr>
      <p class="head">EVENTS</p>
      <hr>
      <div class="events-list">
        <ion-list>
          <ion-item *ngFor="let event of events">
            <button no-lines ion-item (click)="editEvent(event)">
              <ion-avatar item-left>
                <img [src]="event.img" />
              </ion-avatar>
              <h2>{{event.title}}</h2>
              <p>Date: {{event.date}} </p>
            </button>
          </ion-item>
        </ion-list>
    </div>
    </div>
  </div>
</ion-content>
