<ion-header>
  <ion-navbar color="header">
    <ion-buttons start>
      <button class="button-icon" icon-only menuToggle side="left">
        <ion-icon color="light" name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Sign Up!</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding style="background-color: #F5F5F5 !important;">
  <p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p>
  <ion-list no-lines>
    <form [formGroup]="slideOneForm">
      <ion-item>
        <ion-label floating>First Name</ion-label>
        <ion-input [(ngModel)]="firstname" formControlName="firstName" type="text" [class.invalid]="!slideOneForm.controls.firstName.valid && (slideOneForm.controls.firstName.dirty || submitAttempt)"></ion-input>
      </ion-item>
      <ion-item *ngIf="!slideOneForm.controls.firstName.valid  && (slideOneForm.controls.firstName.dirty || submitAttempt)">
        <p>Please enter a valid name.</p>
      </ion-item>
      <ion-item>
        <ion-label floating>Last Name</ion-label>
        <ion-input [(ngModel)]="lastname" formControlName="lastName" type="text" [class.invalid]="!slideOneForm.controls.lastName.valid && (slideOneForm.controls.lastName.dirty || submitAttempt)"></ion-input>
      </ion-item>
      <ion-item *ngIf="!slideOneForm.controls.lastName.valid  && (slideOneForm.controls.lastName.dirty || submitAttempt)">
        <p>Please enter a valid name.</p>
      </ion-item>
      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input [(ngModel)]="username" [class.invalid]="!slideOneForm.controls.username.valid && (slideOneForm.controls.username.dirty || submitAttempt)"
          formControlName="username" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input [(ngModel)]="email" [class.invalid]="!slideOneForm.controls.email.valid && (slideOneForm.controls.email.dirty || submitAttempt)"
          formControlName="email" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input [(ngModel)]="password" [class.invalid]="!slideOneForm.controls.password.valid && (slideOneForm.controls.password.dirty || submitAttempt)"
          formControlName="password" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Re-type Password</ion-label>
        <ion-input [(ngModel)]="repassword" [class.invalid]="!slideOneForm.controls.repassword.valid && (slideOneForm.controls.repassword.dirty || submitAttempt)"
          formControlName="repassword" type="password"></ion-input>
      </ion-item>
      <ion-item *ngIf="slideOneForm.controls.username.pending">
        <p>Checking username...</p>
      </ion-item>
      <ion-item *ngIf="!slideOneForm.controls.username.valid && !slideOneForm.controls.username.pending && (slideOneForm.controls.username.dirty || submitAttempt)">
        <p>Sorry, that username can not be used!</p>
      </ion-item>
      <span *ngIf="slideOneForm.controls.username.valid&&slideOneForm.controls.email.valid&&slideOneForm.controls.firstName.valid&&slideOneForm.controls.lastName.valid&&slideOneForm.controls.password.valid&&slideOneForm.controls.repassword.valid&&!slideOneForm.valid"
        class="help-block text-danger">
        <div>
          The two passwords aren't the same
        </div>
      </span>
    </form>
  </ion-list>
  <button ion-button full color="button" (click)="save()" [disabled]="!slideOneForm.valid">Create Account!</button>
</ion-content>
