<ion-header>
  <ion-navbar color="header">
    <ion-buttons left>
      <button color="button" icon-only class="button-icon" menuToggle side="left">
        <ion-icon color="light" name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title style="text-align:center;">
      Today's Events
    </ion-title>
    <ion-buttons right>
      <button icon-only class="button-icon" (click)="doRefresh()">
        <ion-icon color="light" name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding style="background-color: #F5F5F5 !important;">
  <div *ngIf="!disconnected" class="container">
    <div id="list" style="background-color: #F5F5F5 !important;">
      <ion-list style="background-color: #F5F5F5 !important;">
        <ion-item class="event" *ngFor="let event of list" style="background-color: #F5F5F5 !important;">
          <button no-lines class="event" ion-item (click)="openModal(event)" style="background-color: #F5F5F5 !important;">
            <ion-avatar item-left>
              <img [src]="event.img" />
            </ion-avatar>
            <h2>{{event.title}}</h2>
            <p>{{event.address}} </p>
          </button>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <div *ngIf="disconnected" class="container" style="font-family:'Oswald'">
    <h2>PLEASE CONNECT AND REFRESH THE PAGE</h2>
  </div>
</ion-content>
