page-about {
    .about {
        width: 100%;
        height: 100%;
    }
    p {
        font-size: 16px;
        text-align: center;
    }
    img {
        height: auto;
        width: 80%;
    }
    .copyrights {
        font-size: 12px;
        margin-top: 70%;
        text-align: center;
    }
}