<!--
  Generated template for the About page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="header">
    <ion-buttons left>
      <button icon-only class="button-icon" menuToggle side="left">
        <ion-icon color="light" name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title style="text-align:center;">About</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background-color: #F5F5F5 !important;" padding>
  <div class="container">
    <p><img src="assets/unipi.jpg" /> </p>
    <hr>
    <p>EventsApp is created by Vasiliki Roumpi as her thesis for the University of Piraeus</p>
    <p class="copyrights"> &copy; Vasiliki Roumpi, University of Piraeus, 2017</p>
  </div>
</ion-content>
