<ion-header>

  <ion-navbar color="secondary">
    <ion-buttons left>
      <button [hidden]="!openedMap" icon-only style="border-radius: 5px !important; background-color: #00897B;" color="secondary"
        (click)="showDetails()">
         <ion-icon color="light" name="arrow-round-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title style="text-align:center;">
      Event Details </ion-title>
    <ion-buttons right>
      <button [hidden]="!openedMap" icon-only style="border-radius: 5px !important; background-color: #00897B;" color="secondary"
        (click)="centerMapMyLocation()">
         <ion-icon color="light" name="locate"></ion-icon>
      </button>
      <button icon-only style="border-radius: 5px !important; background-color: #00897B;" color="secondary" side="left" (click)="dismiss()">
         <ion-icon color="light" name="close"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>
<ion-content padding style="background-color: #F5F5F5 !important;">

  <div class="container">
    <div class="container" [hidden]="openedMap">
      <div class="imageTop">
        <img [src]="event.img" />
      </div>
      <div class="info">

        <br>
        <h2 style="text-align: center;">{{event.title}}</h2>
        <p>Περιγραφή: {{event.description}} </p>
        <p>Διεύθυνση: {{event.address}} </p>
        <p>Τιμή: {{event.price}} </p>
        <p>Ώρα Έναρξης: {{event.starting_time}} </p>
        <p>Εκτιμώμενη Διάρκεια: {{event.expected_duration}} </p>
        <br>

      </div>
    </div>
    <div #detMap id="detMap" [hidden]="!openedMap">
    </div>
    <div class="map" [hidden]="openedMap">
      <button ion-button full color="button" (click)="openMap()">See in map</button>
    </div>

  </div>


</ion-content>
