.container {
    width: 100% !important;
    height: 100% !important;
}

.imageTop {
    height: 40%;
    width: 100%;
    text-align: center;
}

img {
    height: 100%;
    width: auto;
}

.info {
    top: 41%;
    height: 50%;
    width: 92%;
    position: fixed;
    overflow: scroll;
}

.map {
    top: 91%;
    height: 9%;
    width: 93%;
    position: fixed;
}

#detMap {
    height: 95%;
    width: 100%;
    position: fixed;
    overflow: auto;
}