<ion-menu [content]="content">

  <ion-header>
    <ion-toolbar color="secondary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content style="background-color:#F5F5F5;">
    <ion-list>
      <button style="text-align:center; background-color:#F5F5F5;" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav #content [root]="rootPage "></ion-nav>
