// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.button-icon {
    border-radius: 5px !important;
    background: color($colors, header);
}

ion-avatar {
    padding: 0px !important;
    margin: 0px !important;
    margin-right: 5px !important;
}

ion-title {
    text-align: center;
    font-family: 'Pacifico', cursive !important;
    font-weight: bold !important;
    font-size: 18px !important;
}

@font-face {
    font-family: 'Oswald';
    src: url('../assets/Oswald-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Pacifico';
    src: url('../assets/Pacifico-Regular.ttf') format('truetype');
}

ion-content {
    font-family: 'Oswald', sans-serif !important;
    font-size: 0.875em !important;
}

.list-info {
    left: -10%;
}