<ion-header>
  <ion-navbar color="header">
    <ion-title style="text-align:center;">Edit Event</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-color: #F5F5F5 !important;">
  <form [formGroup]="eventform" (ngSubmit)="sendForm()">
    <ion-item>
      <ion-label floating>Title</ion-label>
      <ion-input type="text" formControlName="title" [(ngModel)]="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Description</ion-label>
      <ion-textarea formControlName="description" [(ngModel)]="description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label floating>Entrance Fee</ion-label>
      <ion-input type="text" formControlName="price" [(ngModel)]="price"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Date</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" formControlName="date" [(ngModel)]="date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label floating>Starting Time - (HH:MM)</ion-label>
      <ion-input type="text" formControlName="starting_time" [(ngModel)]="starting_time"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Expected Duration - (HH:MM)</ion-label>
      <ion-input type="text" formControlName="expected_duration" [(ngModel)]="expected_duration"></ion-input>
    </ion-item>
    <button ion-button color="button" full class="submit-button" type="submit" [disabled]="!eventform.valid || pastEvent">Submit</button>
  </form>
  <button ion-button color="danger" full (click)="deleteEvent()">Delete Event</button>
</ion-content>
