<ion-header>
  <ion-navbar color="header">
    <ion-title>Select the address</ion-title>
    <ion-buttons right>
      <button icon-only class="button-icon" (click)="centerMapMyLocation()">
         <ion-icon color="light" name="ios-locate-outline"></ion-icon>
      </button>

    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-color: #F5F5F5 !important;">
  <div class="container">
    <input #pacinput [(ngModel)]="searchInput" id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div #map id="map"></div>
    <div id="proceed">
      <button ion-button color="button" block (click)="selectAddress()">Select Address</button>
    </div>
  </div>

</ion-content>
