page-add-button {
    ion-content {
        text-align: center !important;
    }
    .round-button {
        width: 40%;
        position: absolute;
        top: 30%;
        left: 30%;
    }
    .round-button-circle {
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        border-radius: 50%;
        border: 10px solid #cfdcec;
        overflow: hidden;
        background: #4679BD;
        box-shadow: 0 0 3px gray;
    }
    .round-button:hover {
        background: #30588e;
    }
    .round-button button {
        display: block;
        float: left;
        width: 100%;
        background: #4679BD;
        padding-top: 50%;
        padding-bottom: 50%;
        line-height: 1em;
        margin-top: -0.5em;
        text-align: center;
        color: #e2eaf3;
        font-family: Verdana;
        font-size: 1.2em;
        font-weight: bold;
        text-decoration: none;
    }
}