<!--
  Generated template for the AddButton page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="header">
    <ion-buttons start>
      <button icon-only menuToggle side="left">
        <ion-icon color="light" name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Add Button</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="round-button">
    <div class="round-button-circle">
      <button (click)="goToAdd()">ADD!</button>
    </div>
  </div>
</ion-content>
